@page "/fetchdata"
@using BlazorQRCode.Data;
@inject BlazorQRCode.Data.AthleteService  athsService
@inject BlazorQRCode.Data.HomeController  homeController
@inject NavigationManager navigationManager

<h2>Aths Essendon Track Log</h2>
<h1>Logged Athletes</h1>
<br />
@if (athsService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table2">
        <tr>
            <td> <button class="btn btn-primary" @onclick="ClearData">Clear Data</button></td>
            <td>&nbsp;&nbsp;</td>
            <td><button class="btn btn-primary" @onclick="LogOut">LogOut</button></td>
        </tr>

    </table>
    <p><b>Note: After logging out please refresh the rendered page.</b></p>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Date.Time</th>
                <th>Pin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ath in athletes)
            {
                <tr>
                    <td>@ath.Name</td>
                    <td>@ath.PhoneNumber</td>
                    <td>@ath.TimeStamp</td>
                    <td>@ath.Pin</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override void OnInitialized()
    {
        if (!homeController.GetState())
        {
            navigationManager.NavigateTo("/");
        }
        athletes = athsService.GetAthletes();
    }

    private Athlete[] athletes;

    private void ClearData()
    {
        athsService.ClearData();
        athletes = athsService.GetAthletes();
    }

    private void LogOut()
    {
        homeController.LogOut();
        navigationManager.NavigateTo("/");
    }

}
