@page "/Further"
@inject BlazorQRCode.Data.HomeController  homeController
<h2>Aths Essendon Track Log</h2>
<h1>Further Information</h1>
<br />
<br />
<ul>
    <li>

        <a href="https://athsvic.org.au/return-to-play-june-1-2020/">Return to play Athletics Victoria</a>
        <ul>
            <li>

                <a href="https://athsvic.org.au/wp-content/uploads/2020/06/Version-2.1-Return-to-Play-Athletics-Victoria-02062020-PUB.pdf">The actual document</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="https://www.athletics.com.au/the-stadium-covid-19/">COVID-19 Athletics Australia</a>
    </li>
    <li>
        Moonee Valley Council
        <a href=""> Coming</a>
    </li>
    <li>
        <a href="https://www.dhhs.vic.gov.au/coronavirus">Victorian State Government</a>
        <ul>
            <a href="https://www.vic.gov.au/coronavirus-covid-19-restrictions-victoria">Coronavirus (COVID-19) restrictions Victoria</a>
        </ul>
    </li>
    <li>
        <a href="https://www.australia.gov.au/">Australia Goverment</a>
        <ul>
            <li>
                <a href="https://www.health.gov.au/resources/apps-and-tools/covid-19-infection-control-training">COVID-19 infection control training. (Australian Government)</a>
            </li>
        </ul>
    </li>
</ul>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (homeController.GetState())
        {
            homeController.LogOut();
        }
        this.StateHasChanged();
    }
}

