@page "/Manage"
@page "/Manage/{CurrentCount:int}"
@inject NavigationManager navigationManager
@using System.ComponentModel.DataAnnotations;
@using BlazorQRCode.Data;
@inject BlazorQRCode.Data.AthleteService  athsService
@inject BlazorQRCode.Data.HomeController  homeController

<h2>Aths Essendon Track Log</h2>
<h1>Management Login</h1>

<br />

<EditForm OnValidSubmit=@OnValidSubmit Model="@admin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value=admin.Name class="form-control" id="Name" PlaceHolder="Please enter a first name at least." />
        <ValidationMessage For="@(() => admin.Name)" />
    </div>
    <div class="form-group">
        <label for="Age">Password</label><br />
        <InputText type="password" @bind-Value=admin.Pwd class="form-control" id="Mobile" PlaceHolder="Please enter a valid mobile number, eg 0456789123" />
        <ValidationMessage For="@(() => admin.Pwd)" />
    </div>
    <input type="submit" class="btn btn-primary" value="Manage" />
</EditForm>
<p><b>Note: After logging in please refresh the rendered page.</b></p>
@code {
    [Parameter]
    public int? CurrentCount { get; set; }

    DAdmin admin = new DAdmin();
    string PhoneText { get; set; } = "04";
    string Club { get; set; } = "";
    string Output { get; set; } = "";
    string error { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        CurrentCount = CurrentCount ?? 1;
        int ticks = (int)(DateTime.Today.Ticks % 997);
        if (CurrentCount != ticks)
        {
            navigationManager.NavigateTo("/");
        }
    }


    void OnValidSubmit(EditContext editContext)
    //async Task OnSubmit()
    {
        error = null;
        try
        {
            string name = admin.Name;
            string phone = admin.Pwd;
            if (homeController.Authenticate(name, phone))
            {
                string target = $"/FetchData";
                navigationManager.NavigateTo(target);
            }
            else
                navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    public class DAdmin
    {
        [Required]
        public string Name { get; set; }

        [Required]
        public string Pwd { get; set; }

    }


}