@page "/Privacy"

<h2>Aths Essendon Track Log </h2>
<h1>COVID-19</h1>
<br />
<ul>
    <li>
        The Mobile numbers logged here will not be used for anyother purpose othere than COVID-19 tracing if required.
    </li>
    <li>
        These Mobile number will not be shared with any third parties.
    </li>
    <li>
        They will be deleted after 28 days if not required for a COVID-19 instance trace.
    </li>
    <li>
        ... Or when the tracing is complete.
    </li>

</ul>

