@page "/Thanks"
@page "/Thanks/{CurrentCount:int}"
@inject NavigationManager navigationManager
@inject BlazorQRCode.Data.HomeController  homeController

<h2>Athletics Essendon Track Log </h2>
<h1>Further Information</h1>
<br />
<p><b>Thanks for logging your track attendance today.<br />You need to do this each time you attend the track.<br /><i>Suggestion:</i></b>Save the link in your phone's browser Favourites</p>
<p>Today's PIn is @Pin</p>
<h2><i>Further:</i></h2>
<ul>
    <li>

        <a href="https://athsvic.org.au/return-to-play-june-1-2020/">Return to play Athletics Victoria</a>
        <ul>
            <li>

                <a href="https://athsvic.org.au/wp-content/uploads/2020/06/Version-2.1-Return-to-Play-Athletics-Victoria-02062020-PUB.pdf">The actual document</a>
            </li>
        </ul>
    </li>
    <li>

        <a href="https://www.athletics.com.au/the-stadium-covid-19/">COVID-19 Athletics Australia</a>
    </li>
    <li>
        Moonee Valley Council
        <a href=""> Coming</a>
    </li>
    <li>

        <a href="https://www.health.gov.au/resources/apps-and-tools/covid-19-infection-control-training">COVID-19 infection control training. (Australian Government)</a>
    </li>
</ul>
@code{
    [Parameter]
    public int? CurrentCount { get; set; }
    private int Pin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (homeController.GetState())
        {
            homeController.LogOut();
        }
        CurrentCount = CurrentCount ?? 1;
        Pin = homeController.Pin;
        if (CurrentCount != Pin)
        {
            navigationManager.NavigateTo("/");
        }
    }
}

