@inject BlazorQRCode.Data.HomeController  homeController
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorQRCode</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Start
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="COVID-19">
                <span class="oi oi-list-rich" aria-hidden="true"></span> COVID-19
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Privacy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Privacy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Further">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Further information
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/342">
                <span class="oi oi-plus" aria-hidden="true"></span> Manage
            </NavLink>
        </li>
        @if (homeController.GetState())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="qrcode">
                    <span class="oi oi-plus" aria-hidden="true"></span> Get QR Code
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-plus" aria-hidden="true"></span> Show registrations
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    protected override void OnInitialized()
    {
        System.Diagnostics.Debug.WriteLine("4.1");
    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
